body {
    display: flex;
}



h1 {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    margin-left: 20px;
}

.header, .footer {
    background-color: #1f2937;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 15px;
}

li, h4 {
    
    font-size: 18px;
    color: #e5e7eb;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: -20px;
}

.top-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    padding: 8px;
}

.side-text {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.mid-head {
    display: flex;
    
}

img {
    padding: 50px;
    width: 65%;
    max-height: 65%;
    margin-left: 50px;
}



